{% extends 'base_tables.html' %}
{% block content %}
<!-- HEADER -->
<div class="header">
    <div class="container-fluid">

      <!-- Body -->
      <div class="header-body">
        <div class="row align-items-end">
          <div class="col">

            <!-- Pretitle -->
            <h6 class="header-pretitle">
                Listado
            </h6>

            <!-- Title -->
            <h1 class="header-title">
             Clientes
            </h1>
            </h1>
              <!-- <form >
              <div class="col-12 col-lg-6 col-xl">
              <div class="input-group mb-3">
              {{ form.search_text }}
              <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">Buscar</button>
              </div>
              </div>
              </div>
            </form> -->

          </div>
          <a class="btn btn-danger" href="{% url "customer_new" %}">Cargar cliente</a>
          <div class="col-auto">




          </div>
        </div> <!-- / .row -->
      </div> <!-- / .header-body -->

    </div>
  </div> <!-- / .header -->

    <!-- CARDS -->
    <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-lg-6 col-xl">
                        <div class="table-responsive">
                          <table id="data_table" class="table table-bordered table-sm">
                              <thead class="thead-light">
                                  <tr>
                                  <th>Id</th>
                                  <th>Identificación</th>
                                  <th>Cliente</th>
                                  <th>Fecha ingreso</th>
                                  <th>Acciones</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  {% for customer in object_list %}
                                  <tr>
                                  <td>{{ customer.id }}</td>
                                  <td>{{ customer.identifier_number }}</td>
                                  <td>{{ customer }}</td>
                                  <td>{{ customer.created }}</td>
                                  <td>
                                      <a class="btn btn-sm btn-primary" href="{% url "customer_view" customer.id %}">Ver</a>
                                      <a class="btn btn-sm btn-primary" href="{% url "customer_edit" customer.id %}">Editar</a>
                                      <a class="btn btn-sm btn-danger" href="{% url "customer_delete" customer.id %}">Eliminar</a>
                                  </td>
                                  </tr>
                                  {% endfor %}
                              </tbody>
                          </table>
                          </div>


                          <nav aria-label="Page navigation example">
                              {% if is_paginated %}
                                <ul class="pagination">
                                  {% if page_obj.has_previous %}
                                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                                  {% else %}
                                    <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                                  {% endif %}
                                  {% for i in paginator.page_range %}
                                    {% if page_obj.number == i %}
                                    <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                                    {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                  {% endfor %}
                                  {% if page_obj.has_next %}
                                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                  {% else %}
                                  <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                                  {% endif %}
                                </ul>
                              {% endif %}
                              </nav>

    </div>
    </div>
    </div>
{% endblock %}