{% extends 'base2.html' %}
{% block content %}
<!-- HEADER -->
<div class="header">
        <div class="container-fluid">

          <!-- Body -->
          <div class="header-body">
            <div class="row align-items-end">
              <div class="col">

                <!-- Pretitle -->
                <h6 class="header-pretitle">
                    Listado
                </h6>

                <!-- Title -->
                <h1 class="header-title">
                  Órden
                </h1>

              </div>
              <a class="btn btn-danger" href="{% url "order_list" %}">< Volver</a>
              <div class="col-auto">




              </div>
            </div> <!-- / .row -->
          </div> <!-- / .header-body -->

        </div>
      </div> <!-- / .header -->

        <!-- CARDS -->
        <div class="container-fluid">
            <div class="row">
              <div class="col-12 col-lg-6 col-xl">
                    <div class="form-group">










<form method="post">{% csrf_token %}

    <div class="table-responsive">
    <table class="table table-bordered table-sm">
    <thead class="thead-light">
        <tr>
        <th>Cliente</th>
        <th>URL de la factura</th>
        <th>Método de Pago</th>
        </tr>
    </thead>
    <tbody>
    <tr>
    <td>{{ order_form.customer }}</td>
    <td>{{ order_form.invoice_url }}</td>
    <td>{{ order_form.payment_method }}</td>

  </tr>
</tbody>
</table>

<div class="table-responsive">
    <table class="table table-bordered table-sm">
    <thead class="thead-light">
        <tr>
        <th>Subtotal</th>
        <th>Impuestos</th>
        <th>Descuento</th>
        <th>Envío</th>
        <th>Moneda</th>
        <th>Total</th>
        </tr>
    </thead>
    <tbody>
    <tr>
    <td>{{ order_form.gross_amount  }}</td>
    <td>{{ order_form.tax }}</td>
    <td>{{ order_form.discount }}</td>
    <td>{{ order_form.shipping }}</td>
    <td>{{ order_form.currency }}</td>
    <td>{{ order_form.paid_amount }}</td>
  </tr>
</tbody>
</table>
</div>
    <div id="dynamic_form">
      <div class="form-group section">
            <p>Producto {{ form.product }}</p>
            <p>Precio unitario {{ form.unit_price }}</p>
            <p>Cantidad {{ form.quantity }}</p>
            <p>Monto {{ form.amount }}</p>
            <p>
                <div class="button-group">
                    <a href="javascript:void(0)" class="btn btn-primary" id="plus">Agregar item</a>
                    <a href="javascript:void(0)" class="btn btn-danger" id="minus">Remover item</a>
                </div>
            </p>
      </div>
    </div>

    <p>
        Observaciones
    </p>
    {{ order_form.additional_notes }}

    <p>
        <input class="btn btn-danger" type="submit" value="Guardar" />
    </p>
</form>
</div>
</div>
</div>
</div>


{% endblock %}