{% extends 'product/base_dashboard.html' %}
{% block content %}
 <!-- HEADER -->
 <div class="header">
    <div class="container-fluid">

      <!-- Body -->
      <div class="header-body">
        <div class="row align-items-end">
          <div class="col">

            <!-- Pretitle -->
            <h6 class="header-pretitle">
                {% if user.is_authenticated %}
                Bienvenido {{ user.username }}!
                {% endif %}
            </h6>

            <!-- Title -->
            <h1 class="header-title">
              Tablero
            </h1>

          </div>
          <a class="btn btn-danger" href="{% url "logout" %}">Cerrar sesión</a>
          <div class="col-auto">




          </div>
        </div> <!-- / .row -->
      </div> <!-- / .header-body -->

    </div>
  </div> <!-- / .header -->

    <!-- CARDS -->
    <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-lg-6 col-xl">

            <!-- Content -->

            <!-- Card -->
            <div class="card">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col">

                      <!-- Title -->
                      <h6 class="card-title text-uppercase text-muted mb-2">
                        Ventas
                      </h6>

                      <!-- Heading -->
                      <span class="h2 mb-0">
                        <a href="{% url "order_list" %}">${{ orders_amount }}</a>
                      </span>


                      <!-- Badge -->
                      <span class="badge badge-soft-success mt--1">
                          {{ orders }} operaciones
                      </span>

                    </div>
                    <div class="col-auto">

                      <!-- Icon -->
                      <span class="h2 fe fe-dollar-sign text-muted mb-0"></span>

                    </div>
                  </div> <!-- / .row -->

                </div>
              </div>

            </div>

            <div class="col-12 col-lg-6 col-xl">
             <!-- Card -->
             <div class="card">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col">

                      <!-- Title -->
                      <h6 class="card-title text-uppercase text-muted mb-2">
                        Compras
                      </h6>

                      <!-- Heading -->
                      <span class="h2 mb-0">
                        <a href="{% url "purchase_list" %}">${{ purchases_amount }}</a>

                      </span>

                      <!-- Badge -->
                      <span class="badge badge-soft-success mt--1">
                          {{ purchases }} pedidos
                      </span>

                    </div>
                    <div class="col-auto">

                      <!-- Icon -->
                      <span class="h2 fe fe-truck text-muted mb-0"></span>

                    </div>
                  </div> <!-- / .row -->

                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 col-xl">
              <!-- Card -->
              <div class="card">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col">

                      <!-- Title -->
                      <h6 class="card-title text-uppercase text-muted mb-2">
                        Productos
                      </h6>

                      <!-- Heading -->
                      <span class="h2 mb-0">
                        <a href="{% url "product_list" %}">{{ products }}</a>
                      </span>

                       <!-- Badge -->
                       <span class="badge badge-soft-danger mt--2">
                          {{ products_in_danger }}  en peligro
                      </span>

                    </div>
                    <div class="col-auto">

                      <!-- Icon -->
                      <span class="h2 fe fe-tag text-muted mb-0"></span>

                    </div>
                  </div> <!-- / .row -->

                </div>
              </div>

            </div>
            <div class="col-12 col-lg-6 col-xl">

              <!-- Card -->
              <div class="card">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col">

                      <!-- Title -->
                      <h6 class="card-title text-uppercase text-muted mb-2">
                        Clientes
                      </h6>

                      <!-- Heading -->
                      <span class="h2 mb-0">
                        <a href="{% url "customer_list" %}">{{ customers }}</a>
                        </span>

                       <!-- Badge -->
                       <span class="badge badge-soft-success mt--1">
                          0 nuevos
                      </span>

                    </div>
                    <div class="col-auto">

                      <!-- Icon -->
                      <span class="h2 fe fe-users text-muted mb-0"></span>

                    </div>
                  </div> <!-- / .row -->

                </div>
              </div>

            </div>
            <div class="col-12 col-lg-6 col-xl">

                <!-- Card -->
                <div class="card">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col">

                        <!-- Title -->
                        <h6 class="card-title text-uppercase text-muted mb-2">
                          Proveedores
                        </h6>

                        <!-- Heading -->
                        <span class="h2 mb-0">

                          <a href="{% url "provider_list" %}">{{ providers }}</a>
                          </span>

                         <!-- Badge -->
                         <span class="badge badge-soft-success mt--1">
                            0 nuevos
                        </span>

                      </div>
                      <div class="col-auto">

                        <!-- Icon -->
                        <span class="h2 fe fe-users text-muted mb-0"></span>

                      </div>
                    </div> <!-- / .row -->
                  </div>
                </div>

              </div>





              <!-- PDV -->
              <div class="col-12 col-xl-5">
            
                <!-- Card -->
                <div class="card">
                  <div class="card-body text-center">
                    <div class="row justify-content-center">
                      <div class="col-12 col-xl-10">
                  
        
                        <!-- Title -->
                        <h2 class="mb-2">
                          Punto de Venta
                        </h2>
        
                        <!-- Content -->
                        <p class="text-muted">
                          Con el Punto de Venta (PDV) podrás procesar órdenes de compra para tus clientes.
                        </p>
        
                        <!-- Button -->
                        <a href="{% url "order_pdv" %}" class="btn btn-primary">
                          Vender
                        </a>
                        
                      </div>
                    </div> <!-- / .row -->
                  </div>
                </div>
        
              </div>


              <!-- Comprar -->
              <div class="col-12 col-xl-5">
            
                <!-- Card -->
                <div class="card">
                  <div class="card-body text-center">
                    <div class="row justify-content-center">
                      <div class="col-12 col-xl-10">
                  
        
                        <!-- Title -->
                        <h2 class="mb-2">
                          ¿Te quedaste sin stock?
                        </h2>
        
                        <!-- Content -->
                        <p class="text-muted">
                          No te quedes sin stock. Realizá acá los pedidos a tus proveedores y reabastece tu depósito.
                        </p>
        
                        <!-- Button -->
                        <a href="{% url "purchase_new" %}" class="btn btn-primary">
                          Comprar
                        </a>
                      </div>
                    </div> <!-- / .row -->
                  </div>
                </div>
        
              </div>



              {% include "product/product_dashboard.html" %}   


              <!-- Chart -->
              <div class="col-12 col-xl-12">
            
                  <!-- Card -->
                  <div class="card">
                    <div class="card-body text-center">
                      <div class="row justify-content-center">
                        <div class="col-12 col-xl-10">
                    
          
                          <!-- Title -->
                          <h2 class="mb-2">
                            Ventas
                          </h2>
          
                          <!-- Content -->
                          <p class="text-muted">
                              <div id="VENTAS"></div>
                          </p>          
                
                        </div>
                      </div> <!-- / .row -->
                    </div>
                  </div>
          
                </div>
  
              

            <!-- End Content  -->
            </div>
          </div>
      </div>
{% endblock %}