{% extends 'base2.html' %}
{% block content %}
<!-- HEADER -->
<div class="header">
    <div class="container-fluid">

      <!-- Body -->
      <div class="header-body">
        <div class="row align-items-end">
          <div class="col">
            
            <!-- Pretitle -->
            <h6 class="header-pretitle">
                Listado
            </h6>

            <!-- Title -->
            <h1 class="header-title">
              Precios
            </h1>

          </div>
          <a class="btn btn-danger" href="{% url "product_price_new" %}">Agregar Precio</a>
          <div class="col-auto">
              
            


          </div>
        </div> <!-- / .row -->
      </div> <!-- / .header-body -->

    </div>
  </div> <!-- / .header -->

    <!-- CARDS -->
    <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-lg-6 col-xl">
              <div class="table-responsive">
                  <table class="table table-bordered table-sm">
                      <thead class="thead-light">
    <tr>
    <th>Producto</th>
    <th>Costo</th>
    <th>Precio de lista</th>
    <th>Fecha</th>
    <th>Acciones</th>
    </tr>
</thead>
<tbody>
    {% for product_price in object_list %}
    <tr>
    <td>{{ product_price.product.name }}</td>
    <td>{{ product_price.currency.code }}{{ product_price.currency.symbol }} {{ product_price.cost_price }}</td>
    <td>{{ product_price.currency.code }}{{ product_price.currency.symbol }} {{ product_price.list_price }}</td>
    <td>{{ product_price.created_date }} </td>
    <td>
        <a class="btn btn-sm btn-primary" href="{% url "product_price_view" product_price.id %}">Ver</a>
        <a class="btn btn-sm btn-primary" href="{% url "product_price_edit" product_price.id %}">Editar</a>
        <a class="btn btn-sm btn-danger" href="{% url "product_price_delete" product_price.id %}">Eliminar</a>
    </td>
    </tr>
    {% endfor %}
</tbody>
</table>

<nav aria-label="Page navigation example">
{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
      <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</nav>

</div>
</div>
</div>
{% endblock %}