{% extends 'base2.html' %}
{% block content %}
<!-- HEADER -->
<div class="header">
    <div class="container-fluid">

      <!-- Body -->
      <div class="header-body">
        <div class="row align-items-end">
          <div class="col">
            
            <!-- Pretitle -->
            <h6 class="header-pretitle">
                Listado
            </h6>

            <!-- Title -->
            <h1 class="header-title">
              Productos
            </h1>

          </div>
          <a class="btn btn-danger" href="{% url "product_new" %}">Agregar Producto</a>
          <div class="col-auto">
              
            


          </div>
        </div> <!-- / .row -->
      </div> <!-- / .header-body -->

    </div>
  </div> <!-- / .header -->

    <!-- CARDS -->
    <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-lg-6 col-xl">
                        <div class="table-responsive">
                          <table class="table table-bordered table-sm">
                              <thead class="thead-light">
                                  <tr>
                                  <th>Nombre</th>
                                  <th>Acciones</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  {% for product in object_list %}
                                  <tr>
                                  <td>{{ product.name }}</td>
                                  <td>
                                      <a class="btn btn-sm btn-primary" href="{% url "product_view" product.id %}">Ver</a>
                                      <a class="btn btn-sm btn-primary" href="{% url "product_edit" product.id %}">Editar</a>
                                      <a class="btn btn-sm btn-danger" href="{% url "product_delete" product.id %}">Eliminar</a>
                                  </td>
                                  </tr>
                                  {% endfor %}
                              </tbody>
                          </table>
                          </div> 
          {% if is_paginated %}
            <ul class="pagination">
              {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
              {% else %}
                <li class="disabled"><span>&laquo;</span></li>
              {% endif %}
              {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                  <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                  <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
              {% else %}
                <li class="disabled"><span>&raquo;</span></li>
              {% endif %}
            </ul>
          {% endif %}
    </div>
    </div> 
    </div>
{% endblock %}