<h1>Product</h1>

<table border="1">
<thead>
    <tr>
    <th>Name</th>
    <th>Actions</th>
    </tr>
</thead>
<tbody>
    {% for product_category in object_list %}
    <tr>
    <td>{{ product_category.name }}</td>
    <td>
        <a href="{% url "product_category_view" product_category.id %}">view</a>
        <a href="{% url "product_category_edit" product_category.id %}">edit</a>
        <a href="{% url "product_category_delete" product_category.id %}">delete</a>
    </td>
    </tr>
    {% endfor %}
</tbody>
</table>

<a href="{% url "product_category_new" %}">New</a>