<h1>Product Details</h1>
<h2>Name: {{object.name}}</h2>
<h2>reference_code: {{object.reference_code}}</h2>
<h2>import_code: {{object.import_code}}</h2>
<h2>description: {{object.description}}</h2>
<h2>stock: {{object.stock}}</h2>
<h2>min_amount: {{object.min_amount}}</h2>
<h2>product_store: {{object.product_store}}</h2>
<h2>product_category: {{object.product_category}}</h2>
<h2>product_type: {{object.product_type}}</h2>
<h2>product_status: {{object.product_status}}</h2>
<h2>product_status: {{object.image_url}}</h2>