{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SAI - Sistema de Administración Integral">
    <meta name="author" content="Cristian Moyano">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Libs CSS -->
    <link rel="stylesheet" href="https://dashkit.goodthemes.co/assets/fonts/feather/feather.min.css">
    <link rel="stylesheet" href="/static/css/fontawesome/css/all.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="https://dashkit.goodthemes.co/assets/css/theme-dark.min.css" id="stylesheetDark">
    <style>
        @media print
    {
        .no-print, .no-print *
        {
            display: none !important;
        }
    }
    </style>

    {% block css %}{% endblock css %}

    <title>SAI</title>

  </head>
  <body>
        {% include "sidebar.html" %}

    <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content">

                    <div class="row" >
            <button style="margin-left: 0.5rem;background-color: #142d4e; border: 0px; cursor: pointer; color:aliceblue;" class="d-none d-md-block" type="button" id="sidebar-toggle">
                <span id="toggle-sidebar" style="margin-right: 0rem;" class="fa fa-caret-left"></span>
            </button>
            <button class="d-none d-md-block" style="margin-right: 1.5rem;background-color: #142d4e; border: 0px; cursor: pointer; color:aliceblue;" onclick="openFullscreen();"><span style="margin-right: 0rem;" class="fa fa-expand"></span></button>
            </div>
            {% block content %}
            {% endblock %}
    </div> <!-- / .main-content -->

    <!-- JAVASCRIPT
    ================================================== -->
    <!-- Libs JS -->
    <script src="{% static "js/jquery-1.12.4.min.js" %}"></script>
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
    <script>
            $("#sidebar-toggle").click(function(){
                $("#sidebar").toggle();
                $("#toggle-sidebar", this).toggleClass("fa-caret-left fa-caret-right");
              });
            </script>
<script>
var elem = document.documentElement;
function openFullscreen() {
  if (elem.requestFullscreen) {
    elem.requestFullscreen();
  } else if (elem.mozRequestFullScreen) { /* Firefox */
    elem.mozRequestFullScreen();
  } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
    elem.webkitRequestFullscreen();
  } else if (elem.msRequestFullscreen) { /* IE/Edge */
    elem.msRequestFullscreen();
  }
}
</script>
{% block js %}
{% endblock js %}





  </body>

</html>
