<div class="col-12 col-xl-5">
            
        <!-- Card -->
        <div class="card">
          <div class="card-body text-center">
            <div class="row justify-content-center">
              <div class="col-12 col-xl-10">
            
                <!-- Image -->
                <img src="assets/img/illustrations/happiness.svg" alt="..." class="img-fluid mt--5 mb-4" style="max-width: 272px;">

                <!-- Title -->
                <h2 class="mb-2">
                  We released 2008 new versions of our theme for glory.
                </h2>

                <!-- Content -->
                <p class="text-muted">
                  This is a true story and totally not made up. This is going to be better in the long run but for now this is the way it is.
                </p>

                <!-- Button -->
                <a href="#!" class="btn btn-primary">
                  Try it for free
                </a>
              
              </div>
            </div> <!-- / .row -->
          </div>
        </div>

      </div>